# OS directory info files
.DS_Store
desktop.ini

# node
node_modules

# static build
build

# secrets
!.env.example
cookies.json
keys.json

# docker
docker-compose.yml

# ide
config.bat
